body {
       
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

header h1 {
    text-align: center;
    color: black;
    font-weight : bold;
    font-size: 48px;
    text-shadow: 2px 2px 4px pink;
}

main {
    margin-top: 40px;
    background: white;
    border-radius: 10px;
    text-align:center;
    font-size:28px;
}
